#app {
	background: #252627;
	color: #E8EBF7;
}

.indicator {
	border-color: #252627;
}

.indicator:before {
	box-shadow: 1px -10px 00 #252627;
}

.indicator:after {
	box-shadow: -1px -10px 00 #252627;
}

.list-group-item {
  background-color: #2d3748;
  border-color: #4a5568;
  color: #f8f9fa;
}