@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:wght@100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*, button, input, select {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

#app {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: hidden;
}

/* Шапка */

.app-header {
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	-webkit-box-shadow: 0px 4px 8px -7px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 4px 8px -7px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 4px 8px -7px rgba(34, 60, 80, 0.2);
	background: #D1495B;
	color: #E8EBF7;
}

/* Главная область */

.app-content {
	width: 100%;
	display: flex;
	flex: 1;
	justify-content: center;
	padding: 20px;
	padding-bottom: 35px;
}

.window {
	display: none;
	position: relative;
}

.window.active {
	display: flex;
	flex: 1;
	flex-direction: column;
}

/* Вкладка истории */

/* Вкладка сканера */

video {
	position: relative;
	width: 100%;
	object-fit: cover;
}

.scanner-frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	transform: translate(-50%, -50%);
	box-sizing: border-box;
}

.corner {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 4px solid #D1495B;
}

.top-left { top: 0; left: 0; border-right: none; border-bottom: none; }
.top-right { top: 0; right: 0; border-left: none; border-bottom: none; }
.bottom-left { bottom: 0; left: 0; border-right: none; border-top: none; }
.bottom-right { bottom: 0; right: 0; border-left: none; border-top: none; }

/* Вкладка настроек */

.settings-block {
	margin-bottom: 20px;
}

.settings-block .block-title {
	opacity: .7;
}

.settings-block .select-theme {
	width: 60px;
	height: 60px;
	position: relative;
	border: 1px solid #D1495B;
}

.settings-block .select-theme[data-theme="light"] {
	background: #E8EBF7;
}

.settings-block .select-theme[data-theme="dark"] {
	background: #252627;
}

.select-theme .btn-text {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	padding: 5px;
}

/* Навигация */

.nav {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	-webkit-box-shadow: 0px -4px 8px -7px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px -4px 8px -7px rgba(34, 60, 80, 0.2);
	box-shadow: 0px -4px 8px -7px rgba(34, 60, 80, 0.2);
	background: #D1495B;
	position: relative;
}

/* Alert */

.alert {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	font-size: 16px;
	opacity: .3;
}

/* Кнопки */

.nav-btn {
	border: none;
	color: #E8EBF7;
	background: transparent;
	width: 60px;
	height: 60px;
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	position: relative;
	border-radius: 50%;
	transition: .3s ease-in-out;
	z-index: 99999999999999999;
}

.nav-btn.active {
	transform: translateY(-50%);
}

.nav-btn .btn-text {
	padding: 5px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	opacity: 0;
	transition: .3s ease-in-out;
}

.nav-btn.active .btn-text {
	opacity: 1;
}

.indicator {
	position: absolute;
	top: -50%;
	left: 1;
	width: 60px;
	height: 60px;
	border: 6px solid;
	border-radius: 50%;
	background: #D1495B;
	transition: .3s ease-in-out;
}

.indicator:before {
	content: '';
	position: absolute;
	top: 50%;
	left: -22px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-top-right-radius: 20px;
}

.indicator:after {
	content: '';
	position: absolute;
	top: 50%;
	right: -22px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-top-left-radius: 20px;
}