<p>Асык ату – одна из древнейших игр кочевников. По мнению ученых-этнографов, она появилась на территории Казахстана еще в первом тысячелетии до нашей эры и связана с животноводством и охотой. Возрастного ценза для участия в игре нет: соревноваться на меткость могут и школьники, и пенсионеры. Два года назад национальная игра асык ату была включена в репрезентативный список нематериального культурного наследия человечества ЮНЕСКО.</p>

<p>Для того, чтобы играть в асыки, не нужно дорогого снаряжения, сложной экипировки и особых условий. Главное – вооружиться косточками коленного сустава животных (чаще – мелкого рогатого скота: барашка или козы), и иметь свободную площадку, где можно их расставить. В 2011 году в Казахстане были официально утверждены правила игры в асык-ату, и уже с 2015 года стали проводиться чемпионаты на уровне республики. Более того, в последние годы казахстанская сборная показывает отличные результаты на международном уровне: игра в асыки включена в число этнических видов спорта Всемирных игр кочевников.</p>

<p>Правила игры в асыки несложные. Косточки выставляются в ряд (на кон), задача игроков – с определенного расстояния выбить один или сразу несколько из них своим асыком (сака). Те косточки, которые удастся выбить, становятся добычей игрока.</p>

<p>Сака имеется у каждого, кто играет в асык ату. Обычно для него выбирается самый крупный и, соответственно, самый тяжелый асык из имеющихся в коллекции. Для большего утяжеления в биток заливают свинец и обматывают медной или алюминиевой проволокой. В древности у привилегированных ханских и султанских детей сака заливался даже золотом. В казахской народной сказке «Алтын сака» («золотой сака») хорошо передана ценность этого асыка. Ради нее мальчик чуть не погибает от рук злой колдуньи.</p>

<p>Играют в асыки в основном на земле: на асфальте быстро изнашивается сака. Очередность бросания определяется следующим образом: битки игроков собираются в руку одного из игроков и затем выбрасываются наподобие игральных костей. Каждый асык может принять четыре основных положения:</p>

<p>- айкур (алшы) – меньшая грань асыка с углублением, первая по значимости при выборе очереди броска;</p>
<p>- таба – плоская грань асыка, вторая по значимости;</p>
<p>- бук (бүк) – выпуклая поверхность асыка, третья по значимости;</p>
<p>- чик (шік) – поверхность асыка с углублением, последняя по значимости;</p>

<p>Если выпадают несколько айкуров, то право первого броска разыгрывается между ними.</p>

<p>Также есть такое понятие как «табан» (стопа). Это расстояние, равное длине стопы бьющего игрока.</p>

<p>В случае выбивания асыка из кона, расстояние между выбитым асыком и чертой кона должно превышать три табана, причем за единицу измерения берется именно стопа выбившего игрока. Таким образом соблюдается принцип справедливости.</p>