* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.bg-color {
  background: #3a3b48 !important; }

.bg-success,
.list-group-item-success,
.badge-success {
  background-color: #50c37f !important; }

.bg-danger,
.list-group-item-danger,
.badge-danger {
  background-color: #ff5252 !important; }

.bg-warning,
.list-group-item-warning,
.badge-warning {
  background-color: #fb8c00 !important; }

.bg-primary,
.list-group-item-primary,
.badge-primary {
  background-color: #039be5 !important; }

.bg-secondary,
.list-group-item-secondary,
.badge-secondary {
  background-color: #b6b7b9 !important; }

.bg-info,
.list-group-item-info,
.badge-info {
  background-color: #67d7e8 !important; }

.bg-dark,
.list-group-item-dark,
.badge-dark {
  background-color: #343a40 !important;
  color: #fff !important; }

.bg-light-dark,
.list-group-item-light-dark,
.badge-light-dark {
  background-color: #252632; }

.bg-purple,
.list-group-item-purple,
.badge-purple {
  background-color: #7e57c2 !important; }

.bg-light,
.list-group-item-light,
.badge-light {
  background-color: #565764 !important; }

.bg-white {
  background-color: #30313e !important; }

.border-success {
  border-color: #50c37f !important; }

.border-danger {
  border-color: #ff5252 !important; }

.border-warning {
  border-color: #fb8c00 !important; }

.border-primary {
  border-color: #039be5 !important; }

.border-secondary {
  border-color: #b6b7b9 !important; }

.border-info {
  border-color: #67d7e8 !important; }

.border-dark {
  border-color: #343a40 !important; }

/* 1.1 - Global Colors */
.color-success {
  color: #50c37f !important; }

.color-danger {
  color: #ff5252 !important; }

.color-warning {
  color: #fb8c00 !important; }

.color-primary {
  color: #039be5 !important; }

.color-secondary {
  color: #b6b7b9 !important; }

.color-info {
  color: #67d7e8 !important; }

.color-dark {
  color: #343a40 !important; }

.color-light-dark {
  color: #252632 !important; }

.color-purple {
  color: #7e57c2 !important; }

.color-light {
  color: #565764 !important; }

.color-white {
  color: #fff !important; }

.btn-outline-secondary {
  color: #b6b7b9;
  border-color: #b6b7b9; }
  .btn-outline-secondary:hover {
    background-color: #b6b7b9;
    border-color: #b6b7b9; }

.btn-outline-primary {
  color: #039be5;
  border-color: #039be5; }
  .btn-outline-primary:hover {
    background-color: #039be5;
    border-color: #039be5; }

.btn-outline-light {
  color: #565764;
  border-color: #565764; }
  .btn-outline-light:hover {
    background-color: #565764;
    border-color: #565764; }

.btn-outline-success {
  color: #50c37f;
  border-color: #50c37f; }
  .btn-outline-success:hover {
    background-color: #50c37f;
    border-color: #50c37f; }

.btn-outline-warning {
  color: #fb8c00;
  border-color: #fb8c00; }
  .btn-outline-warning:hover {
    background-color: #fb8c00;
    border-color: #fb8c00; }

.btn-outline-danger {
  color: #ff5252;
  border-color: #ff5252; }
  .btn-outline-danger:hover {
    background-color: #ff5252;
    border-color: #ff5252; }

.btn-outline-info {
  color: #67d7e8;
  border-color: #67d7e8; }
  .btn-outline-info:hover {
    background-color: #67d7e8;
    border-color: #67d7e8; }

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40; }
  .btn-outline-dark:hover {
    background-color: #343a40;
    border-color: #343a40; }

.bg-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#ced8ef), to(#dccdf4));
  background: linear-gradient(to right, #ced8ef, #dccdf4); }

body {
	background: url(https://images.wallpaperscraft.com/image/field_wheat_cornflowers_148525_3840x2160.jpg);
	background-size: cover;
	background-position: 50% 50%;
}

body {
	display: none;
}

a {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }

a:hover,
a:focus {
  color: #191919;
  outline: 0;
  text-decoration: none; }

p {
  color: #6a7074;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7a7b88;
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #7a7b88; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

.container {
	max-width: 1080px;
	margin: 0 auto;
}

.map {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .8;
}

#map {
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;
}

.terrain {
	/*min-height: 100vh;*/
	/*color: #eee;*/
	display: flex;
	align-items: center;
}

.terrain.f-l {
	/*flex-direction: row-reverse;*/
}

.terrain-img img {
	width: 500px;
	height: 300px;
}

.terrain-img {
	margin-right: 25px;
}

.btn {
	border-radius: 0;
}

button.close {
	outline: none !important;
	box-shadow: none !important;
}

.modal-dialog.modal-lg {
	max-width: 1000px !important;
}

@media screen and (max-width: 480px) {
	.terrain-img img {
		width: 460px;
		height: 200px;
		margin: auto;
	}

	.terrain {
		flex-direction: column;
	}

}

@media screen and (max-width: 360px) {
	.terrain-img img {
		width: 340px;
		height: 200px;
		margin: auto;
	}

}