<p>Assik atu is one of the oldest nomad games. According to ethnographers, it appeared on the territory of Kazakhstan in the first millennium BC and is associated with animal husbandry and hunting. There is no age limit for participation in the game: both schoolchildren and pensioners can compete for accuracy. Two years ago, the national game of Asyk Ata was included in the representative list of the intangible cultural heritage of humanity by UNESCO.</p>

<p>In order to play assiki, you do not need expensive equipment, complicated equipment and special conditions. The main thing is to arm yourself with the bones of the knee joint of animals (more often – small cattle: lamb or goat), and have a free area where you can place them. In 2011, the rules of the game of asyk-ata were officially approved in Kazakhstan, and since 2015 championships have been held at the level of the republic. Moreover, in recent years, the Kazakh national team has shown excellent results at the international level: the game of assiki is included in the number of ethnic sports of the World Nomad Games.</p>

<p>The rules of the game of assiki are simple. The bones are placed in a row (at stake), the task of the players is to knock out one or several of them from a certain distance with their asyk (saka). Those bones that can be knocked out become the prey of the player.</p>

<p>Saka is available to everyone who plays asyk ata. Usually, the largest and, accordingly, the heaviest asik from the available in the collection is chosen for him. For greater weighting, lead is poured into the cue ball and wrapped with copper or aluminum wire. In ancient times, the privileged khan's and sultan's children even had saka filled with gold. In the Kazakh folk tale "Altyn saka" ("golden saka"), the value of this asyk is well conveyed. For her sake, the boy almost dies at the hands of an evil sorceress.</p>

<p>They play assiki mainly on the ground: saka wears out quickly on asphalt. The order of throwing is determined as follows: the cue balls of the players are collected in the hand of one of the players and then thrown out like dice. Each assik can adopt four main provisions:</p>

<p>- aikur (alshy) – a smaller face of the asyk with a deepening, the first in importance when choosing the turn of the throw;</p>
<p>- taba is the flat face of assik, the second most important;</p>
<p>- buk (buk) – convex surface of the asyk, the third most important;</p>
<p>- chik (shik) – the surface of the asyk with a recess, the last in importance;</p>

<p>If several aikurs fall out, then the right of the first throw is played between them.</p>

<p>There is also such a thing as a "taban" (foot). This is the distance equal to the length of the kicker's foot.</p>

<p>In the case of knocking out an assik from the con, the distance between the knocked-out assik and the line of the con should exceed three tabs, and it is the foot of the knocked-out player that is taken as the unit of measurement. Thus, the principle of justice is observed.</p>