<div class="workshop">
	<div class="skins">
		<img src="/assets/img/player_1.png" data-link="player_1.png" width="90px">
		<img src="/assets/img/player_2.png" data-link="player_2.png" width="90px">
		<img src="/assets/img/player_3.png" data-link="player_3.png" width="90px">
		<img src="/assets/img/player_4.png" data-link="player_4.png" width="90px">
		<img src="/assets/img/player_5.png" data-link="player_5.png" width="90px">
		<img src="/assets/img/player_6.png" data-link="player_6.png" width="90px">
	</div>
	<button class="select">Select</button>
</div>