@font-face {
	font-family: 'Bahnschrift';
	src: '../fonts/Bahnschrift.ttf';
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Bahnschrift';
}

body {
	background: url('../images/menu_background.jpg');
	background-size: cover;
}

.menu-container {
	position: absolute;
	width: 250px;
	height: 200px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.game-container {
	display: none;
}

button {
	display: block;
	width: 250px;
	height: 50px;
	font-size: 20px;
	background: url('../images/button_background.png');
	background-position: 50% 50%;
	background-size: cover;
	outline: none;
	box-shadow: none;
	border: none;
	opacity: .95;
	cursor: pointer;
}

button:hover {
	opacity: 1;
}

.player_1-score {
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 20px;
	color: red;
	display: none;
}

.player_2-score {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: yellow;
	display: none;
}

.result-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: 600px;
	text-align: center;
	padding: 20px 40px;
	font-size: 20px;
	opacity: 0;
	transition: .5s ease;
	pointer-events: none;
}

.result-container.show {
	opacity: 1;
}

.history-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: 800px;
	text-align: center;
	padding: 20px 40px;
	font-size: 20px;
	opacity: 0;
	transition: .5s ease;
	display: none;
}

.history-container span {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 40px;
	cursor: pointer;
}

.history-container.show {
	opacity: 1;
}