<p>Асық ату-көшпенділердің ең көне ойындарының бірі. Ғалым-этнографтардың пікірінше, ол біздің дәуірімізге дейінгі бірінші мыңжылдықта Қазақстан аумағында пайда болған және мал шаруашылығымен және аңшылықпен байланысты. Ойынға қатысу үшін жас шегі жоқ: мектеп оқушылары да, зейнеткерлер де дәлме-дәл бәсекеге түсе алады. Екі жыл бұрын асық ату ұлттық ойыны ЮНЕСКО-ның Адамзаттың материалдық емес мәдени мұрасының өкілдік тізіміне енгізілді.</p>

<p>Асық ойнау үшін қымбат құрал-жабдықтар, күрделі жабдықтар және ерекше жағдайлар қажет емес. Ең бастысы – жануарлардың тізе буынының сүйектерімен (көбінесе-ұсақ мал: қозы немесе ешкі) қарулану және оларды орналастыруға болатын бос алаңның болуы. 2011 жылы Қазақстанда асық-ату ойынының ережелері ресми түрде бекітіліп, 2015 жылдан бастап республика деңгейінде чемпионаттар өткізіле бастады. Сонымен қатар, соңғы жылдары Қазақстан құрамасы халықаралық деңгейде үздік нәтижелер көрсетуде: асық ойыны Дүниежүзілік көшпенділер ойындарының этникалық спорт түрлерінің қатарына қосылды.</p>

<p>Асық ойнау ережесі күрделі емес. Сүйектер қатарға қойылады (кон), ойыншылардың міндеті-белгілі бір қашықтықтан олардың біреуін немесе бірнешеуін бірден асықпен (сақ) қағу. Нокаутқа түсетін сүйектер ойыншының олжасына айналады.</p>

<p>Асық ату ойынын ойнайтындардың барлығында сақа бар. Әдетте ол үшін коллекциядағы ең үлкен және сәйкесінше ең ауыр асық таңдалады. Үлкен салмақ үшін қорғасын допқа құйылады және мыс немесе алюминий сыммен оралады. Ежелгі уақытта артықшылықты хан және Сұлтан балаларының арасында сақа тіпті алтынға толған. Қазақ халық ертегісінде" Алтын сақа "("Алтын сақа") осы асықтың құндылығын жақсы жеткізген. Ол үшін бала зұлым сиқыршының қолынан өле жаздайды.</p>

<p>Асықтар негізінен жерде ойналады: асфальтта сақа тез тозады. Лақтыру реті келесідей анықталады: ойыншылардың доптары ойыншылардың біреуінің қолына жиналып, содан кейін сүйектер сияқты лақтырылады. Әрбір асық төрт негізгі ережені қабылдай алады:</p>

<p>- айкур (алшы) – асықтың тереңдетілген жиегі, лақтыру кезегін таңдаудағы маңыздылығы бойынша бірінші;</p>
<p>- табаа-асықтың тегіс беті, маңыздылығы бойынша екінші;</p>
<p>- бук (Бук) – асықтың дөңес беті, маңыздылығы бойынша үшінші;</p>
<p>- чик (шік) – тереңдігі бар асық беті, маңыздылығы бойынша соңғысы;</p>

<p>Егер бірнеше айкур түсіп кетсе, онда олардың арасында бірінші лақтыру құқығы ойнатылады.</p>

<p>Сондай-ақ, "табан" (аяқ) деген ұғым бар. Бұл соққы ойыншысының аяғының ұзындығына тең қашықтық.</p>

<p>Асықты коннан қағып алған жағдайда, асық пен кон сызығы арасындағы қашықтық үш табаннан асуы керек, ал өлшем бірлігі үшін нокаутқа түскен ойыншының аяғы алынады. Осылайша әділеттілік принципі сақталады.</p>