<script>

var screenWidth = $(document).width();
var screenHeight = $(document).height();


var gameScene = new Phaser.Scene('Game');

var config = {
	type: Phaser.AUTO,
	width: screenWidth,
	height: screenHeight,
	physics: {
		default: "arcade",
		arcade: {
			gravity: false
		},
	},
	scene: {
		preload: preload,
		create: create,
		update: update,
	}
};

var initPhi = Math.PI*0.2;
var L = 200;
var dt = 1/60;
var g = 1500;
var t = 0;
 
var bob = {
	phi: initPhi,
	v: 0,
	a: 0
}

var move = true;
var downe = 0;
var w = 0;
var timer;

var score = 0;

var game = new Phaser.Game(config);

function preload() {
	this.load.setBaseURL('https://lytsites.github.io');

	this.load.image('background', 'assets/img/background.png');
	if (localStorage.getItem('link')) this.load.image('player', 'assets/img/' + localStorage.getItem('link'),);
	else this.load.image('player', 'assets/img/player_1.png',);
	this.load.image('purpose', 'assets/img/purpose.png');
	this.load.image('arrow', 'assets/img/arrow.png');
	this.load.image('force', 'assets/img/force.png');
	this.load.image('arena', 'assets/img/arena.png');
}

function create() {


	// Background
	background = this.add.image(screenWidth / 2, screenHeight / 2, 'background');
	background.displayWidth = screenWidth;
	background.displayHeight = screenHeight;

	// Arena
	arena = this.add.image(screenWidth / 2, screenHeight / 2, 'arena');
	arena.displayWidth = screenHeight / 1.5;
	arena.displayHeight = screenHeight / 1.5;

	// Objects
	player = this.physics.add.sprite(screenWidth / 2, screenHeight - 175, 'player').setOrigin(0.5,0.5);
	player.displayWidth = 40;
	player.displayHeight = 40;
	player.body.setCollideWorldBounds(true);
	player.setBounce(1);
	player.setMass(100);

	purposes = this.physics.add.group({
		defaultKey: 'purposes',
		bounceX: 1,
		bounceY: 1,
	});

	purposes.create(screenWidth / 2 - 100, 275, 'purpose');
	purposes.create(screenWidth / 2, 200, 'purpose');
	purposes.create(screenWidth / 2 + 100, 275, 'purpose');
	purposes.children.iterate(function (purpose) {
		purpose.body.setCollideWorldBounds(true);
		purpose.displayWidth = 40;
		purpose.displayHeight = 40;
		purpose.setMass(100);
	});

	// Force
	force = this.add.image(20, screenHeight - 33, 'force').setOrigin(0,0);
	force.displayWidth = w;
	force.displayHeight = 13;

	// Arrow
	arrow = this.add.image(screenWidth / 2, screenHeight - 175, 'arrow').setOrigin(0.5,1);
	arrow.displayWidth = 15;
	arrow.displayHeight = 100;

	// Text
	if (!localStorage.getItem('name')) localStorage.getItem('name') = '000';
	if (localStorage.getItem('language') == 'ru') {
		scoreText = this.add.text(0, 0, localStorage.getItem('name') + ', ваш счёт: ' + score);
	}
	else if (localStorage.getItem('language') == 'kz') {
		scoreText = this.add.text(0, 0, localStorage.getItem('name') + ', сіздің шотыңыз: ' + score);
	}
	else if (localStorage.getItem('language') == 'en') {
		scoreText = this.add.text(0, 0, localStorage.getItem('name') + ', your score: ' + score);
	}
	else {
		scoreText = this.add.text(0, 0, localStorage.getItem('name') + ', ваш счёт: ' + score);
	}

	this.input.keyboard.on('keydown', function (event) {
		if (event.code == 'Space') {
			downe += 1;
			if (downe == 1) {
				move = false;
				timer = setInterval(function () {
					if (w <= 150) {
						w++;
					}
					if (w == 150) {
						w = 0;
					}
					force.displayWidth = w;
					purposes.children.iterate(function (purpose) {
						purpose.setMass(10 * w);
					});
				}, 10);
			}
			if (downe == 2) {
				player.setVelocity(Math.sin(arrow.rotation) * w * 5, -Math.cos(arrow.rotation) * w * 5);
				clearInterval(timer);
			}
		}
	}, this);

	this.physics.add.collider(player, purposes, function (player, purpose) {
		score += 1;
		intervalId = setInterval(function () {
			if (player.body.velocity.x >= 0 || player.body.velocity.x <= 0) {
				player.body.velocity.x -= player.body.velocity.x / 5;
				purpose.body.velocity.x -= purpose.body.velocity.x / 5;
			}
			if (player.body.velocity.y >= 0 || player.body.velocity.y <= 0) {
				player.body.velocity.y -= player.body.velocity.y / 5;
				purpose.body.velocity.y -= purpose.body.velocity.y / 5;
			}
		}, w)
		setTimeout(function () {
			player.x = screenWidth / 2;
			player.y = screenHeight - 175;
			move = true;
			downe = 0;
			clearInterval(intervalId)
		}, 3500)
	});

}

function update() {

	if (localStorage.getItem('language') == 'ru') {
		scoreText.setText(localStorage.getItem('name') + ', ваш счёт: ' + score);
	}
	else if (localStorage.getItem('language') == 'kz') {
		scoreText.setText(localStorage.getItem('name') + ', сіздің шотыңыз: ' + score);
	}
	else if (localStorage.getItem('language') == 'en') {
		scoreText.setText(localStorage.getItem('name') + ', your score: ' + score);
	}
	else {
		scoreText.setText(localStorage.getItem('name') + ', ваш счёт: ' + score);
	}

	if (move) {
		bob.a = -(g/L)*Math.sin(bob.phi)
		bob.v +=  bob.a*dt
		bob.phi += bob.v*dt
		arrow.rotation = bob.phi;
	}

}

</script>